<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    {% for test in results %}
    <div class="card mb-3 border-{% if test.result == 'success' %}success{% else %}danger{% endif %}">
    <h5 class="card-header text-white bg-{% if test.result == 'success' %}success{% else %}danger{% endif %}">
        {% if test.result == "success" %}
            &#10004;
        {% else %}
            &#10006;
        {% endif %}
        {{ test.description }}
    </h5>
    <div class="card-body">
        <dl class="row card-text">
            <dt class="col-sm-3">Input</dt>
            <dd class="col-sm-9">
                <pre><code>{{ test.input }}</code></pre>
            </dd>
            <dt class="col-sm-3">Expected output</dt>
            <dd class="col-sm-9">
                <pre><code>{{ test.expected_output }}</code></pre>
            </dd>
            <dt class="col-sm-3">Actual output</dt>
            <dd class="col-sm-9">
                <pre><code>{{ test.output }}</code></pre>
            </dd>
        </dl>
    </div>
    </div>
    {% endfor %}
</div>
</body>
</html>